footer#footer.l-footer
  .l-footer__outer
    .l-footer__inner
      .l-footer__head
        .l-footer__logo
          a(href="/")
            img(src="/assets/img/logo.png" alt="平塚 崇善FC")

        .l-footer__nav
          .l-footer__nav__col
            .l-footer__menu
              .l-footer__menu__item
                a(href="/#about")
                  |崇善FCについて
              .l-footer__menu__item.-child
                a(href="/#activity")
                  |活動内容
              .l-footer__menu__item.-child
                a(href="/#access")
                  |アクセス
              .l-footer__menu__item.-child
                a(href="/#staff")
                  |スタッフ紹介
          .l-footer__nav__col
            .l-footer__menu
              .l-footer__menu__item
                a(href="/members/")
                  |体験募集
              .l-footer__menu__item.-child
                a(href="/members/#information")
                  |体験について
              .l-footer__menu__item.-child
                a(href="/members/#item")
                  |服装・持ち物
              .l-footer__menu__item.-child
                a(href="/members/#form")
                  |体験お申込みフォーム
          .l-footer__nav__col
            .l-footer__menu
              .l-footer__menu__item
                a(href="/faq/")
                  |よくあるご質問
              .l-footer__menu__item
                a(href="/news/")
                  |ニュース
              .l-footer__menu__item
                a(href="/contact/")
                  |お問い合わせ

      .l-footer__foot
        p.l-footer__copy
          |&copy; 2024 Sozen FC. All Rights Reserved.