// ==========================================================================
// c-button
// ==========================================================================

.c-button {

  & > * {
    width: 220px;
    height: 55px;
    padding: 5px;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--key);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // contact
  &.-contact {

    & > * {

      span {

        &::before {
          width: 22px;
          height: 15px;
          margin-right: 8px;
          background-image: url(../img/icon_mail-w.svg);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 22px auto;
          display: inline-block;
          transform: translateY(2px);
          content: "";
        }
      }
    }
  }

  &.-s {
    & > * {
      width: 180px;
      height: 45px;
    }
  }
}

.c-button__round {

  & > * {
    width: 180px;
    height: 55px;
    padding: 5px;
    font-size: 15px;
    line-height: 1.6;
    border: solid 2px var(--main);
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-button__form {

  & > * {
    width: 100%;
    max-width: 380px;
    height: 55px;
    margin: 0 auto;
    color: var(--white);
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--main);
    border: solid 2px var(--main);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // 戻る
  &.-back {

    & > * {
      max-width: 180px;
      color: var(--main);
      background-color: transparent;
    }
  }
}


@include mq('pc') {

  .c-button {

    & > * {
      transition: background-color .4s;

      &:hover {
        background-color: var(--blue);
      }
    }
  }

  .c-button__round {

    & > * {
      transition: color .4s;

      &:hover {
        color: var(--white);
        background-color: var(--blue);
        border: solid 2px var(--blue);
      }
    }
  }

  .c-button__form {

    & > * {
      transition: background-color .4s;

      &:hover {
        background-color: var(--blue);
      }
    }
  }
}