// ==========================================================================
// c-info
// ==========================================================================

.c-info {
  &__list {
    margin-top: 37.5px;

    dl {
      display: flex;

      & + dl {
        margin-top: 25px;
      }

      dt,
      dd {
        p:not([class]) {
          font-size: 15px;
        }
      }

      dt {
        width: 100px;
      }

      dd {
        width: calc(100% - 100px);

        p:not([class]) {
          & + p:not([class]) {
            margin-top: 0;
          }
        }
      }
    }
  }

  &__map {
    margin-top: 37.5px;

    &__head {

      p:not([class]) {
        font-size: 15px;
      }
    }

    &__body {
      margin-top: 42.5px;
    }
  }
}

@include mq('sp') {

  .c-info {

    &__list {
      margin-top: 31px;
  
      dl {
        display: block;
  
        & + dl {
          margin-top: 37.5px;
        }
  
        dt {
          width: 100%;

          p:not([class]) {
            font-size: 16px;
          }
        }
  
        dd {
          width: 100%;
          margin-top: 7.5px;

          p:not([class]) {
            line-height: 1.6;
          }
        }
      }
    }
  
    &__map {
      margin-top: 31px;

      &__head {
        p:not([class]) {
          line-height: 1.6;
        }
      }
  
      &__body {
        margin-top: 25.5px;
      }
    }
  }
}