// ==========================================================================
// c-news
// ==========================================================================

.c-news__set {
  border-bottom: solid 1px var(--gray2);
}

.c-news {
  border-top: solid 1px var(--gray2);

  &__inner {
    position: relative;
    padding: 35px 80px 35px 0;
    display: flex;

    .u-icon {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: auto;
    }
  }

  &__head {
    width: 220px;

    &__inner {
      display: flex;
      align-items: center;

      .u-tag {
        margin-left: 20px;
      }
    }
  }

  &__date {
    font-size: 14px;
  }

  &__body {
    width: calc(100% - 220px);

    &__inner {
      display: flex;
    }
  }

  &__img {
    width: 190px;

    figure {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 52.6315789473%;
      background-color: var(--gray2);
      border-radius: 10px;
      overflow: hidden;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &.-noimage {

      figure {
        border: solid 1px var(--gray2);
      }
    }
  }

  &__summary {
    width: calc(100% - 190px);
    padding-left: min(40px, 2.7778vw);

    p:not([class]) {
      font-size: 15px;
    }
  }
}

@include mq('pc') {
  
  .c-news {
    &__inner {
      &:hover {
        .u-icon {
          &::before {
            transform: translateX(3px);
          }
        }
      }
    }
  }
}

@include mq('sp') {

  .c-news {
    padding: 30px 0 23px;
  
    &__inner {
      padding: 0;
      display: block;

      .u-icon {
        display: none;
      }
    }
  
    &__head {
      width: 100%;
      padding-bottom: 20px;
    }
  
    &__body {
      width: 100%;
  
      &__inner {
        display: block;
      }
    }
  
    &__img {
      width: 100%;
    }
  
    &__summary {
      width: 100%;
      padding-top: 23px;
      padding-left: 0;
  
      p:not([class]) {
        font-size: 14px;
      }
    }
  }
}

