doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=1, maximum-scale=2")
    meta(name="format-detection" content="telephone=no")

    title xxxxx
    meta(name="description" content="xxxxx")

    meta(property="og:locale" content="ja-JP")
    meta(property="og:type" content="article")
    meta(property="og:site_name" content="xxxxx")
    meta(property="og:title" content="xxxxx")
    meta(property="og:description" content="xxxxx")
    meta(property="og:url" content="xxxxx/news/")
    meta(property="og:image" content="xxxxx/assets/img/ogimage.jpg")
    meta(name="twitter:card" content="summary_large_image")

    link(rel="icon" href="/assets/img/favicon.ico")
    link(rel="apple-touch-icon" href="xxxxx/assets/img/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="xxxxx/assets/img/android-chrome-192x192.png")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")

    link(rel="stylesheet" href="/assets/css/style.css")

  body.p-page.p-news

    .l-app

      .js-guideline

      include ../_components/_header_page.pug

      #wrapper.l-wrapper

        main#main.l-main

          section.p-page__container

            .p-page__heading
              .l-wrapper__outer
                .l-wrapper__inner
                  h1.p-page__heading__label
                    |ニュース

            .p-page__contents
              .l-wrapper__outer
                .l-wrapper__inner

                  .p-page__wrapper
                    
                    .p-news__contents

                      .c-news__set

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-02-01").c-news__date
                                  |2024.02.01
                                .u-tag
                                  |U-10
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-01-28").c-news__date
                                  |2024.01.28
                                .u-tag
                                  |U-8
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img
                                  figure
                                    img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                                .c-news__summary
                                  p
                                    |岩原ピンクパンサーズ大会に参加しました。
                            .u-icon

                        article.c-news
                          a(href="/news/detail.html").c-news__inner
                            .c-news__head
                              .c-news__head__inner
                                time(datetime="2024-01-01").c-news__date
                                  |2024.01.01
                                .u-tag
                                  |お知らせ
                            .c-news__body
                              .c-news__body__inner
                                .c-news__img.-noimage
                                  figure
                                    img(src="/assets/img/noimage.jpg" alt="")
                                .c-news__summary
                                  p
                                    |ホームページをリニューアルしました。
                            .u-icon
                          
                      .c-pagination
                        .c-pagination__item.-prev
                          a(href="URL")
                        .c-pagination__item.-current
                          span 1
                        .c-pagination__item
                          a(href="URL") 2
                        .c-pagination__item
                          a(href="URL") 3
                        .c-pagination__item.-dot
                          span ...
                        .c-pagination__item
                          a(href="URL") 10
                        .c-pagination__item.-next
                          a(href="URL")






                  .u-breadcrumb
                    ol
                      li
                        a(href="/") TOP
                      li ニュース


        include ../_components/_footer_page.pug

    script(src="/assets/js/main.js")
