// ==========================================================================
// u-breadcrumb
// ==========================================================================

.u-breadcrumb {
  margin-top: 120px;

  ol {
    display: flex;
    flex-wrap: wrap;

    li {
      font-size: 12px;
      font-weight: 400;
      line-height: 2;

      & + li {
        &::before {
          margin: 0 .5em;
          color: var(--gray8);
          content: "/";
        }
      }
    }
  }
}


@include mq('sp') {

  .u-breadcrumb {
    margin-top: 90px;

    ol {
  
      li {
        margin-bottom: 9px;
        line-height: 1.5;
      }
    }
  }
}