// ==========================================================================
// u-list
// ==========================================================================

.u-list {

  & > li {
    position: relative;
    padding-left: 1.2em;

    &::before {
      position: absolute;
      left: 0;
      content: "・";
    }
  }
}