// ==========================================================================
// u-radio
// ==========================================================================

.u-radio__set {
  display: flex;
  flex-wrap: wrap;

  & + .u-radio__set {
    margin-top: 9px;
  }
}

.u-radio {
  margin-right: 20px;

  &__input {
    display: none;

    &[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &__label {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      border-radius: 50%;
      display: block;
      content: "";
    }

    &::before {
      left: 0;
      width: 25px;
      height: 25px;
      border: solid 2px var(--main);
    }

    &::after {
      left: 7px;
      width: 11px;
      height: 11px;
      background-color: var(--main);
      opacity: 0;
    }
  }

  // チェック
  &__input {

    &:checked {

      & + .u-radio__label {
        pointer-events: none;

        &::after {
          opacity: 1;
        }
      }
    }
  }
}

@include mq('sp') {

  .u-radio__set {

    & + .u-radio__set {
      margin-top: 0;
    }

    .u-radio {
      margin-bottom: 15px;
    }
  }

  .u-radio {
    margin-right: 15px;

    &__label {
      font-size: 14px;
    }
  }
}