@import "foundation/_variable";
@import "foundation/_mixin";


// main visual
.top__mv {
  position: relative;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  &__video {
    position: relative;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    z-index: -1;

    &__inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
    }

    &__item {
      min-width: 100%;
      min-height: 100%;
      display: block;

      &.-sp {
        display: none;
      }
    }
  }

  &__outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 110px;
    padding-bottom: 110px;
    display: flex;
    align-items: flex-end;
  }

  &__inner {
    width: 100%;
    padding: 0 min(115px, 7.986112vw);
  }

  &__title {
    color: var(--white);
    font-size: 68px;
    font-weight: 700;
    line-height: 1.4;
    transform: translateY(20px);
    opacity: 0;
    transition: transform .4s, opacity .4s;
    transition-delay: .2s;

    &.is-show {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@include mq('sp') {

  .top__mv {

    &__video {
  
      &__item {
  
        &.-pc {
          display: none;
        }

        &.-sp {
          width: 100%;
          min-width: auto;
          min-height: auto;
          display: block;
        }
      }
    }

    &__inner {
      padding: 0;
    }

    &__title {
      font-size: 30px;
    }
  }
}


// message
.top__meassage {
  margin-top: 60px;

  &__contents {
    padding: 73.5px 40px 71px;
    background-color: var(--blue);
    border-radius: 30px;

    &__inner {
      max-width: 760px;
      margin: 0 auto;
    }

    .u-heading__l2 {

      &.-white {

        span {
          color: var(--white);
        }
      }
    }
  }

  &__summary {
    color: var(--white);
    margin-top: 68px;
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
    text-align: center;

    &__text {

      & + .top__meassage__summary__text {
        margin-top: 2em;
      }
    }
  }
}

@include mq('sp') {

  .top__meassage {
    // margin-top: 60px;
  
    &__contents {
      padding: 35px 20px 37.5px;
    }
  
    &__summary {
      margin-top: 29.5px;
      font-size: 16px;
      text-align: left;
    }
  }
}


// 崇善FCについて
.top__about {
  margin-top: 113.5px;

  &__contents {}

  &__summary {
    margin-top: 49.5px;
    margin-bottom: 107.5px;
    font-size: 15px;
    font-weight: 700;
    line-height: 2;
    text-align: center;

    &__text {

      & + .top__about__summary__text {
        margin-top: 2em;
      }
    }
  }

  &__staff {
    margin-top: 115px;

    &__outer {
      padding: 0 40px;
    }

    &__inner {
      max-width: 950px;
      margin: 0 auto;
    }

    .u-heading__l3 {
      margin-bottom: 45px;
      text-align: center;
    }
  }
}

@include mq('smallpc') {

  .top__about {

    &__staff {
      &__inner {
        max-width: 620px;
      }
    }
  }
}

@include mq('sp') {

  .top__about {
    margin-top: 85px;
  
    &__contents {}
  
    &__summary {
      margin-top: 30px;
      margin-bottom: 68px;
      text-align: left;

      &__text {

        & + .top__about__summary__text {
          margin-top: 1.5em;
        }
      }
    }
  
    &__staff {
      margin-top: 85.5px;
  
      &__outer {
        padding: 0;
      }

      .u-heading__l3 {
        margin-bottom: 35.5px;
      }
    }
  }
}


// ニュース
.top__news {
  margin-top: 53.5px;

  &__contents {
    position: relative;
  }

  &__head {
    padding-right: 200px;

    .u-heading__l2 {
      text-align: left;
    }
  }

  &__body {
    margin-top: 47px;

    .c-button__round {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

@include mq('sp') {

  .top__news {
    margin-top: 39.5px;
  
    &__head {
      padding-right: 0;
    }
  
    &__body {
      margin-top: 37.5px;
  
      .c-button__round {
        position: relative;
        margin-top: 50px;

        & > * {
          margin: 0 auto;
        }
      }
    }
  }
}

// loading
body {

  &.is-init {
    overflow: hidden;
  }
}

@include mq('pc') {

  .l-header {
    transform: translateY(-100%);
    transition: transform .4s;
    transition-delay: .5s;

    &.is-show {
      transform: translateY(0);
    }
  }
}

@include mq('sp') {
  .l-header {

    &__head {
      transform: translateY(-100%);
      transition: transform .4s;
      transition-delay: .5s;

      &.is-show {
        transform: translateY(0);
      }
    }

    &__btn {
      opacity: 0;
      transition: opacity .4s;
      transition-delay: .7s;

      &.is-show {
        opacity: 1;
      }
    }

    .c-hamburger {
      opacity: 0;
      transition: opacity .4s;
      transition-delay: .7s;

      &.is-show {
        opacity: 1;
      }
    }
  }
}