// ==========================================================================
// p-members
// ==========================================================================

.p-members {

  p:not([class]) {

    & + p:not([class]) {
      margin-top: 0.8em;
    }
  }

  &__lead {
    margin-top: 42px;
  }

  .u-column {
    margin-top: 68px;
  }

  .u-list {
    margin-top: 42px;
  }

  .c-form {
    margin-top: 43px;
  }
}

// 確認画面 / 完了画面
.p-members-confirm,
.p-members-complete {

  .p-page__section {

    .p-members__lead {
      display: none;
    }

    & + .p-page__section {
      margin-top: 0;
    }

    &[data-id="information"],
    &[data-id="item"] {
      display: none;
    }
  }
}


@include mq('sp') {

  .p-members {

    p:not([class]) {
      font-size: 15px;
      line-height: 1.8;
    }
  
    &__lead {
      margin-top: 34px;
    }
  
    .u-column {
      margin-top: 50px;

      .u-column__col {

        & + .u-column__col {
          margin-top: 50px;
        }
      }
    }
  
    .u-list {
      margin-top: 34px;
    }
  
    .c-form {
      margin-top: 44.5px;
    }
  }
}
