doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" id="viewport" content="width=device-width, initial-scale=1, user-scalable=1, maximum-scale=2")
    meta(name="format-detection" content="telephone=no")

    title xxxxx
    meta(name="description" content="xxxxx")

    meta(property="og:locale" content="ja-JP")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="xxxxx")
    meta(property="og:title" content="xxxxx")
    meta(property="og:description" content="xxxxx")
    meta(property="og:url" content="xxxxx/")
    meta(property="og:image" content="xxxxx/assets/img/ogimage.jpg")
    meta(name="twitter:card" content="summary_large_image")

    link(rel="icon" href="/assets/img/favicon.ico")
    link(rel="apple-touch-icon" href="xxxxx/assets/img/apple-touch-icon.png")
    link(rel="icon" type="image/png" href="xxxxx/assets/img/android-chrome-192x192.png")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet")

    link(rel="stylesheet" href="/assets/css/style.css")
    link(rel="stylesheet" href="/assets/css/top.css")

  body.is-init

    .u-loading.js-loading
      .u-loading__mask
      .u-loading__logo
        img(src="/assets/img/logo_loading.png" alt="平塚 崇善FC")

    .l-app

      .js-guideline

      include _components/_header.pug

      #wrapper.l-wrapper

        main#main.l-main

          section.top__mv
            .top__mv__video
              .top__mv__video__inner
                video(src="/assets/video/mv.mp4" muted loop playsinline).top__mv__video__item.-pc#video
                video(src="/assets/video/mv-sp.mp4" muted loop playsinline).top__mv__video__item.-sp#videosp

            .top__mv__outer.l-wrapper__outer
              .top__mv__inner
                h2.top__mv__title
                  |自分はきっと、
                  br
                  |想像以上だ。

          
          section.top__meassage
            .l-wrapper__outer
              .l-wrapper__inner
                .top__meassage__contents

                  h2.u-heading__l2.-white
                    |Message
                    span ごあいさつ
                  .top__meassage__summary
                    p.top__meassage__summary__text
                      |ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                    p.top__meassage__summary__text
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。
                    p.top__meassage__summary__text
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。ごあいさつの文章が入ります。
                      br
                      |ごあいさつの文章が入ります。
                  

          section(data-id="about").top__about
            .l-wrapper__outer
              .l-wrapper__inner
                .top__about__contents

                  h2.u-heading__l2
                    |About SOZEN FC
                    span 崇善FCについて

                  .top__about__summary
                    p.top__about__summary__text
                      |崇善フットボールクラブでは、
                      br
                      |サッカーが好きな子供たちを募集しています。
                      br
                      |サッカーの経験がなくても大丈夫！
                      br
                      |新一年生はもちろん、何年生からでも参加可能です。
                    p.top__about__summary__text
                      |まずは、お子さまとご一緒に
                      br
                      |「体験サッカー」にお越しください。
                  
                  .u-column
                    .u-column__col(data-id="activity")
                      h3.u-heading__l3
                        |活動内容
                      .c-info__list
                        dl
                          dt
                            p
                              |会費
                          dd
                            p
                              |月々 ¥2,500
                            p.u-note
                              |入会時のみ選手登録料として¥1,000がかかります。
                            p.u-note
                              |別途スポーツ保険料が年間¥940円かかります。
                            p.u-note
                              |未就学児は、月額会費無料（ただしスポーツ保険料はかかります）
                        dl
                          dt
                            p
                              |募集対象
                          dd
                            p
                              |小学校 　　1 〜 6年生
                            p
                              |未就学児　年中 〜 年長
                        dl
                          dt
                            p
                              |練習日時
                          dd
                            p
                              |土、日、祝日の午前または午後
                        dl
                          dt
                            p
                              |練習場所
                          dd
                            p
                              |平塚市崇善小学校　校庭

                    .u-column__col(data-id="access")
                      h3.u-heading__l3
                        |アクセス
                      .c-info__map
                        .c-info__map__head
                          p
                            |練習場所の平塚氏崇善小学校のアクセスになります。
                            br
                            |〒254-0041
                            br
                            |神奈川県平塚市浅間町４-３
                        .c-info__map__body
                          .u-map
                            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3254.8980067036027!2d139.3428220751478!3d35.33335414900662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6019acdff3fa3385%3A0xaabc0de2c50702a1!2z5bmz5aGa5biC56uL5bSH5ZaE5bCP5a2m5qCh!5e0!3m2!1sja!2sjp!4v1708321877892!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")

                  .top__about__staff(data-id="staff")
                    .top__about__staff__outer
                      .top__about__staff__inner
                        h3.u-heading__l3
                          |スタッフ紹介
                        .u-staff__set
                          .u-staff
                            .u-staff__head
                              img(src="https://placehold.jp/dddddd/ffffff/290x386.png?text=dummy" alt="")
                            .u-staff__body
                              p.u-staff__label
                                span U-12 ヘッドコーチ
                                |崇善　太郎
                              p.u-staff__text
                                |公認D級コーチ 取得
                          .u-staff
                            .u-staff__head
                              img(src="https://placehold.jp/dddddd/ffffff/290x386.png?text=dummy" alt="")
                            .u-staff__body
                              p.u-staff__label
                                span U-12 ヘッドコーチ
                                |崇善　太郎
                              p.u-staff__text
                                |公認D級コーチ 取得
                          .u-staff
                            .u-staff__head
                              img(src="https://placehold.jp/dddddd/ffffff/290x386.png?text=dummy" alt="")
                            .u-staff__body
                              p.u-staff__label
                                span U-12 ヘッドコーチ
                                |崇善　太郎
                              p.u-staff__text
                                |公認D級コーチ 取得
                          .u-staff
                            .u-staff__head
                              img(src="https://placehold.jp/dddddd/ffffff/290x386.png?text=dummy" alt="")
                            .u-staff__body
                              p.u-staff__label
                                span U-12 ヘッドコーチ
                                |崇善　太郎
                              p.u-staff__text
                                |公認D級コーチ 取得
                          .u-staff
                            .u-staff__head
                              img(src="https://placehold.jp/dddddd/ffffff/290x386.png?text=dummy" alt="")
                            .u-staff__body
                              p.u-staff__label
                                span U-12 ヘッドコーチ
                                |崇善　太郎
                              p.u-staff__text
                                |公認D級コーチ 取得
                          .u-staff
                            .u-staff__head
                              img(src="https://placehold.jp/dddddd/ffffff/290x386.png?text=dummy" alt="")
                            .u-staff__body
                              p.u-staff__label
                                span U-12 ヘッドコーチ
                                |崇善　太郎
                              p.u-staff__text
                                |公認D級コーチ 取得

          section.top__news
            .l-wrapper__outer
              .l-wrapper__inner
                .top__news__contents
                  .top__news__head
                    h2.u-heading__l2
                      |News
                      span ニュース
                  .top__news__body
                    .c-news__set
                      article.c-news
                        a(href="URL").c-news__inner
                          .c-news__head
                            .c-news__head__inner
                              time(datetime="2024-02-01").c-news__date
                                |2024.02.01
                              .u-tag
                                |U-10
                          .c-news__body
                            .c-news__body__inner
                              .c-news__img
                                figure
                                  img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                              .c-news__summary
                                p
                                  |テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                          .u-icon

                      article.c-news
                        a(href="URL").c-news__inner
                          .c-news__head
                            .c-news__head__inner
                              time(datetime="2024-01-28").c-news__date
                                |2024.01.28
                              .u-tag
                                |U-8
                          .c-news__body
                            .c-news__body__inner
                              .c-news__img
                                figure
                                  img(src="https://placehold.jp/dddddd/ffffff/380x200.png?text=dummy" alt="")
                              .c-news__summary
                                p
                                  |岩原ピンクパンサーズ大会に参加しました。
                          .u-icon

                      article.c-news
                        a(href="URL").c-news__inner
                          .c-news__head
                            .c-news__head__inner
                              time(datetime="2024-01-01").c-news__date
                                |2024.01.01
                              .u-tag
                                |お知らせ
                          .c-news__body
                            .c-news__body__inner
                              .c-news__img.-noimage
                                figure
                                  img(src="/assets/img/noimage.jpg" alt="")
                              .c-news__summary
                                p
                                  |ホームページをリニューアルしました。
                          .u-icon
                          
                    .c-button__round
                      a(href="/news/")
                        span ニュース一覧



          section.c-wanted
            .l-wrapper__outer
              .l-wrapper__inner
                .c-wanted__contents
                  h2.c-wanted__title
                    |Members 
                    br.is-sp
                    |wanted
                  a(href="/members/").c-wanted__link
                    p.c-wanted__link__label
                      |体験募集は
                      br.is-sp
                      |こちらから
                    .c-wanted__link__icon
                      .u-icon.-white




                      



        include _components/_footer.pug

    script(src="/assets/js/main.js")
    script(src="/assets/js/top.js")
